.h-button-wrapper {
  button {
    background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
    color: $white;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    border: unset;
    padding: 14px;
    min-width: 296px;
  }
}
