.thumbnail-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .label {
    background: $primary-300;
    position: absolute;
    bottom: 0;
    padding: 4px 12px;
    span {
      font-size: 15px;
      line-height: 18px;
      color: $white;
    }
  }
}
